HUGGINGFACE_TOKEN="your_huggingface_token_here" # get from https://huggingface.co/settings/tokens
OPENAI_BASE_URL="your_openai_base_url_here" # if ollama, use http://localhost:11434/v1
OPENAI_API_KEY="your_openai_api_key_here" # if ollama, use "ollama"
OPENAI_MODEL="your_openai_model_here" # if ollama, use downloaded model name like granite4.1:3b
